body{
	 background-image: url("../images/img.jpg");
	 
}
#list-head {
 font-family: 'Days One', sans-serif;
}
h1 {
	color: white;
}
.jumbotron{
	margin-top: 10px;
}
.cool-font {
	color:black;
	font-size: 24px;
	font-weight: bold;
}
#choose {
	font-size: 24px;
	color: green;
	font-weight: bolder;
}

#title {
	 color:	#DAA520;
}
.head {
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	color: black;
}
.form-control {
	margin-left: 30%;
    margin-top: 10px;
  	width:40%;
}

#add-btn{
	margin-top: 10px;
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	    min-width: 16em;
/*	background-color: #21abc7;*/
	font-size: 100%;
    line-height: 2.7;
	
}
#create-btn {
	margin-bottom: 10px;
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	    min-width: 16em;
/*	background-color: #21abc7;*/
	font-size: 100%;
    line-height: 2.7;
	
}
#see-button{
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	    min-width: 16em;
/*	background-color: #21abc7;*/
	font-size: 100%;
    line-height: 2.7;
	margin-left: 40%;
}