body{
	background-image: url("../images/img.jpg");

}
#list-head {
	font-family: 'Marck Script', cursive;
}

.drink-suggestion {
	background-color: black;
	margin-left: 20px;
	color:white;
}

h3 {
	color:red;
}
.form-control2 {
	margin-bottom: -10px;
	width:110%;
}
.show-names {
	margin-left: 100px;
	color:black;
	font-family: 'Marck Script', cursive;
}
.drink-name {
	font-size: 24px;
}
.show-recipes {
	margin-left: 100px;
	border-radius: 100px;
	color:white;
	width: 10%;
	background-color: green;

}

h1 {
	margin-top: 0px;
	font-size: 28px;
	color: #DAA520;
}
h2 {
	margin-left: 100px;
	font-family: 'Marck Script', cursive;
	background-color: green;
	margin-top: 0px;
	font-size: 34px;
	color: #DAA520;

}
.jumbotron{
	margin-top: 2px;
}
.search-section {
	float: left;
}
#create-drink{
	float: left;
	margin-left: 300px;
	font-family: 'Marck Script', cursive;
	margin-left: 200px;
}
.cool-font {
	clear:both;
	width: 110%;
	font-family: 'Marck Script', cursive;
	background-color: green;
	color: #DAA520;
	font-size: 28px;
	font-weight: bold;
}

#choose {
	margin-left: 300px;
	width: 50%;
	font-family: 'Marck Script', cursive;
	background-color: green;
	margin-top: 30px;
	font-size: 28px;
	color: #DAA520;
	font-weight: bolder;
}

#title {
	color:	#DAA520;
}
.head {
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	color: black;
}
.form-control {
	margin-left: 100px;
	font-family: 'Marck Script', cursive;
	margin-top: 10px;
	width:80%;
}

#add-btn{
	margin-top: 10px;
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	min-width: 16em;
	/*	background-color: #21abc7;*/
	font-size: 100%;
	line-height: 2.7;
	
}
#create-btn {
	margin-left: 50px;
	margin-bottom: 10px;
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	min-width: 16em;
	/*	background-color: #21abc7;*/
	font-size: 100%;
	line-height: 2.7;
	
} 

#search-name-btn {
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	min-width: 16em;
	/*	background-color: #21abc7;*/
	font-size: 100%;
	line-height: 2.7;
	margin-left: 30%;
}
#see-button{
	border: 1px solid #21abc7;
	font-weight: 600;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 100px;
	min-width: 16em;
	/*	background-color: #21abc7;*/
	font-size: 100%;
	line-height: 2.7;
	margin-left: 40%;
}